
<h3 mat-dialog-title>
    Tambah Pesanan Baru
 </h3>
 <div mat-dialog-content>
    <mat-form-field appearance="outline" style="width: 100%;">
        <mat-label>Kode Pesanan</mat-label>
        <input matInput [(ngModel)]="data.kodepesanan">      
    </mat-form-field>
    <mat-form-field appearance="outline" style="width: 100%;">
        <mat-label>Nama</mat-label>
        <input matInput [(ngModel)]="data.nama" >     
    </mat-form-field>
    <mat-form-field appearance="outline" style="width: 100%;">
        <mat-label>Berat</mat-label>
        <input matInput [(ngModel)]="data.berat" >     
    </mat-form-field>
    <mat-form-field appearance="outline" style="width: 100%;">
        <mat-label>Harga</mat-label>
        <input matInput [(ngModel)]="data.harga" >     
    </mat-form-field>
    <mat-form-field appearance="outline" style="width: 100%;">
        <mat-label>Tanggal Masuk</mat-label>
        <input matInput  [(ngModel)]="data.tglmasuk" >     
    </mat-form-field>
    <mat-form-field appearance="outline" style="width: 100%;">
        <mat-label>Tanggal Keluar</mat-label>
        <input matInput [(ngModel)]="data.tglkeluar" >     
    </mat-form-field>
    <mat-form-field appearance="outline" style="width: 100%;">
        <mat-label>Status</mat-label>
        <input matInput [(ngModel)]="data.status" >      
    </mat-form-field>
 </div>
 <div mat-dialog-actions align="end">
 <button mat-button mat-dialog-close>Batal</button>
 <button mat-flat-button (click)="saveData()">Simpan</button>
 </div>
 
 